<% if(success && success.length) {%>
    <div id="success">
        <%= success %>
            <button class="hide">
                <span>&times;</span>
            </button>
    </div>
    <% } %>

        <% if(error && error.length) {%>
            <div id="error" role="alert">
                <b> ERROR:</b>
                <%= error %>
                    <button class="hide">
                        <span>&times;</span>
                    </button>
            </div>
            <% } %>