<% if(success && success.length) {%>
    <div class="success">
        <%= success %>
            <button class="hide">
                <span>&times;</span>
            </button>
    </div>
    <% } %>

        <% if(error && error.length) {%>
            <div class="error" role="alert">
                <b>Error:</b>
                <%= error %>
                    <button class="hide">
                        <span>&times;</span>
                    </button>
            </div>
            <% } %>

                <% if(alert && alert.length) {%>
                    <div class="alert" role="alert">
                        <b>Alert:</b>
                        <%= alert %>
                            <button class="hide">
                                <span>&times;</span>
                            </button>
                    </div>
                    <% } %>