<div id="kanaChart">
    <table class="rtable">
        <tr>
            <td id="あ-key">あ</td>
            <td id="か-key">か</td>
            <td id="が-key">が</td>
            <td id="さ-key">さ</td>
            <td id="ざ-key">ざ</td>
            <td id="た-key">た</td>
            <td id="だ-key">だ</td>
            <td id="な-key">な</td>
            <td id="は-key">は</td>
            <td id="ば-key">ば</td>
            <td id="ぱ-key">ぱ</td>
            <td id="ま-key">ま</td>
            <td id="ら-key">ら</td>
            <td id="ん-key" class="specialChar">ん</td>
            <td id="や-key" class="pair">や</td>
        </tr>
        <tr>
            <td id="い-key">い</td>
            <td id="き-key">き</td>
            <td id="ぎ-key">ぎ</td>
            <td id="し-key">し</td>
            <td id="じ-key">じ</td>
            <td id="ち-key">ち</td>
            <td id="じ-key">じ</td>
            <td id="に-key">に</td>
            <td id="ひ-key">ひ</td>
            <td id="び-key">び</td>
            <td id="ぴ-key">ぴ</td>
            <td id="み-key">み</td>
            <td id="り-key">り</td>
            <td id="っ-key" class="specialChar"><span style="text-decoration: underline;">っ</span></td>
            <td id="ゃ-key" class="pair">ゃ</td>
        </tr>
        <tr>
            <td id="う-key">う</td>
            <td id="く-key">く</td>
            <td id="ぐ-key">ぐ</td>
            <td id="す-key">す</td>
            <td id="ず-key">ず</td>
            <td id="つ-key">つ</td>
            <td id="づ-key">づ</td>
            <td id="ぬ-key">ぬ</td>
            <td id="ふ-key">ふ</td>
            <td id="ぶ-key">ぶ</td>
            <td id="ぷ-key">ぷ</td>
            <td id="む-key">む</td>
            <td id="る-key">る</td>
            <td id="わ-key" class="specialChar">わ</td>
            <td id="ゆ-key" class="pair">ゆ</td>
        </tr>
        <tr>
            <td id="え-key">え</td>
            <td id="け-key">け</td>
            <td id="げ-key">げ</td>
            <td id="せ-key">せ</td>
            <td id="ぜ-key">ぜ</td>
            <td id="て-key">て</td>
            <td id="で-key">で</td>
            <td id="ね-key">ね</td>
            <td id="へ-key">へ</td>
            <td id="べ-key">べ</td>
            <td id="ぺ-key">ぺ</td>
            <td id="め-key">め</td>
            <td id="れ-key">れ</td>
            <td id="を-key" class="specialChar">を</td>
            <td id="ゅ-key" class="pair">ゅ</td>
        </tr>
        <tr>
            <td id="お-key">お</td>
            <td id="こ-key">こ</td>
            <td id="ご-key">ご</td>
            <td id="そ-key">そ</td>
            <td id="ぞ-key">ぞ</td>
            <td id="と-key">と</td>
            <td id="ど-key">ど</td>
            <td id="の-key">の</td>
            <td id="ほ-key">ほ</td>
            <td id="ぼ-key">ぼ</td>
            <td id="ぽ-key">ぽ</td>
            <td id="も-key">も</td>
            <td id="ろ-key">ろ</td>
            <td id="よ-key" class="pair">よ</td>
            <td id="ょ-key" class="pair">ょ</td>
        </tr>
        <tr class="specialRow">
            <td id="Delete" colspan="2" class="specialKey">Delete</td>
            <td colspan="11" class="dud"></td>
            <td id="Enter" colspan="2" class="specialKey">Enter</td>
        </tr>
    </table>
</div>