<div id="kanaChart">
    <table class="rtable">
        <tr>
            <td style="border-right: none; background-color: papayawhip;">nn</td>
            <td style="border-left: none; background-color: papayawhip;">ん</td>
            <td class="dud">k</td>
            <td class="dud">g</td>
            <td class="dud">s</td>
            <td class="dud">z</td>
            <td class="dud">t</td>
            <td class="dud">d</td>
            <td class="dud">n</td>
            <td class="dud">m</td>
            <td class="dud">r</td>
            <td class="dud">y</td>
            <td class="dud">w</td>
        </tr>
        <tr>
            <td class="dud">a</td>
            <td>あ</td>
            <td>か</td>
            <td>が</td>
            <td>さ</td>
            <td>ざ</td>
            <td>た</td>
            <td>だ</td>
            <td>な</td>
            <td>ま</td>
            <td>ら</td>
            <td>や</td>
            <td>わ</td>
        </tr>
        <tr>
            <td class="dud">i</td>
            <td>い</td>
            <td>き</td>
            <td>ぎ</td>
            <td>し</td>
            <td>じ</td>
            <td>ち</td>
            <td>じ</td>
            <td>に</td>
            <td>み</td>
            <td>り</td>
        </tr>
        <tr>
            <td class="dud">u</td>
            <td>う</td>
            <td>く</td>
            <td>ぐ</td>
            <td>す</td>
            <td>ず</td>
            <td>つ</td>
            <td>づ</td>
            <td>ぬ</td>
            <td>む</td>
            <td>る</td>
            <td>ゆ</td>
            <td style="background-color: papayawhip;">っ</td>
        </tr>
        <tr>
            <td class="dud">e</td>
            <td>え</td>
            <td>け</td>
            <td>げ</td>
            <td>せ</td>
            <td>ぜ</td>
            <td>て</td>
            <td>で</td>
            <td>ね</td>
            <td>め</td>
            <td>れ</td>
        </tr>
        <tr>
            <td class="dud">o</td>
            <td>お</td>
            <td>こ</td>
            <td>ご</td>
            <td>そ</td>
            <td>ぞ</td>
            <td>と</td>
            <td>ど</td>
            <td>の</td>
            <td>も</td>
            <td>ろ</td>
            <td>よ</td>
            <td>を</td>
        </tr>
    </table>
</div>