<div id="selectListBox" class="popup" style="display: none;">

    <%- partial('partials/flash') %>
        <div class="prompt" style="margin: 0; margin-bottom: 0.5rem; text-align: end;" onclick="popup('selectListBox')">
            Close [X]
        </div>
        <div id="chooseList">
            <label for="list-select">Choose List:</label>
            <select name="list-select" id="list-select">
                <% loggedIn.lists.forEach(listref=> {%>
                    <option value="<%=listref._id%>" name="listID">
                        <%=listref.name %>
                    </option>
                    <%}) %>
                        <option value="new">--Create new list--</option>
            </select>
            <button class="submitButton" id="sendListButton">Select</button>
        </div>

        <hr>
        <div id="createList">
            <label for="newListName">Create New List:</label>
            <input type="text" id="newListName" name="newListName">
            <button class="submitButton" id="createListButton">Create</button>
        </div>

</div>