<div id="credentials">
    <% if(message && message.length) {%>
        <div class="alert" role="alert">
            <b> Alert:</b>
            <%= message%>
                <button class="hide">
                    <span>&times;</span>
                </button>
        </div>
        <% } %>
            <form id="loginForm" action="/login" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required />
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required />

                <br>
                <button>Login</button>
            </form>
            <div id="prompt"><a href="/register">New User? Register here</a></div>
</div>

<script src="/js/login.js"></script>