<div id="header">
    <a href="/">
        <h1 id="title">単語 </h1>
    </a>
    <a href="/search">
        <h1 id="plus">+</h1>
    </a><a href="/register">
        <h1 id="profile">人</h1>
    </a>
</div>

<script src="/js/navbar.js"></script>