<div id="wordBox">

    <div id="wordBoxKanji" class="traditional-vertical-writing wordBoxUnit">
        蝸牛<br>それそれのぼれ<br>富士の山</div>
    <div id="wordBoxReading" class="traditional-vertical-writing wordBoxUnit">
        かたつむり<br>それそれのぼれ<br>ふじのやま
    </div>
    <div id="wordBoxMeaning" class="wordBoxUnit">O snail <br> slowly climbing <br> Mount Fuji</div>

</div>