<!DOCTYPE html>
<html lang="ja-jp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">

    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/fontawesome/css/solid.css" rel="stylesheet">
    <link href="/fontawesome/css/regular.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/font.css">

    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/flash.css">

    <%- body %>
        </body>
        <script src="/js/utils.js"></script>
        <script src="/js/navbar.js"></script>

</html>