<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/add.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/flash.css">
    </head>

    <body>
        <%- partial('partials/navbar') %>
            <% if (currentUser) {%>
                <%- partial('partials/flash') %>
                    <% } %>
                        <div id="formBody">
                            <form action="/word" method="POST" id="termSelectorForm">
                            </form>
                        </div>

                        <% if (!currentUser) { %>
                            <%- partial('partials/auth') %>
                                <script src="/js/auth.js"></script>
                                <% }%>

                                    <script src="/js/add.js"></script>