<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/add.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/flash.css">
    </head>

    <body>
        <%- partial('partials/navbar') %>
            <% if (currentUser) {%>
                <%- partial('partials/flash') %>
                    <% } %>
                        <div id="main">
                            <form action="/all" method="POST">
                                <div id="words">
                                    Word:
                                </div>

                                <div id="englishDefs">
                                    English:
                                </div>
                                <button>Enter</button>
                            </form>
                        </div>

                        <% if (!currentUser) { %>
                            <%- partial('partials/auth') %>
                                <% }%>

                                    <script src="/js/add.js"></script>