<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/add.css">
    <link rel="stylesheet" href="/css/navbar.css">
    </head>

    <body>
        <%- partial('partials/navbar') %>

            <div id="main">
                <div id="input">
                    <input type="text" placeholder="Enter word" id="queryString">
                    <button id="go">GO
                    </button>
                </div>
                <div id="definitions">
                </div>

            </div>

            <script src="/js/add.js"></script>