<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/add.css">
    <link rel="stylesheet" href="/css/navbar.css">
    </head>

    <body>
        <%- partial('partials/navbar') %>
            <div id="main">
                <form action="/all" method="POST">
                    <div id="words">
                        Word:
                    </div>

                    <div id="englishDefs">
                        English:
                    </div>
                    <button>Enter</button>
                </form>
            </div>

            <script src="/js/add.js"></script>