<% layout('layouts/boilerplate') %>
    <!-- <h1>いっラシャ会います、お客様！<br>
        (Welcome, valued customer)! </h1> -->
    <div class="d-flex justify-content-center">
        <h1 class="text-danger">単語 </h1>
        <!-- <h2>たんご</h2> -->
    </div>

    <main>
    </main>