<% layout('layouts/boilerplate') %>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css"> -->
    <!-- <link rel="stylesheet" href="/css/simple-keyboard.css"> -->

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>
        <%- partial('partials/navbar') %>
            <div id="main">
                <div id="wordlist">
                    <ul>
                        <li>たんご</li>
                        <hr>
                        <li>ちんかす</li>
                        <hr>
                        <li> WIll this work</li>
                        <hr>
                        <li>たんご</li>
                        <hr>
                        <li>ちんかす</li>
                        <hr>
                        <li> こども</li>
                        <hr>
                        <li>plesase</li>
                        <hr>
                        <li>ちんかす</li>
                        <hr>
                        <li> こども</li>
                        <hr>
                        <li>たんご</li>
                        <hr>
                        <li>ちんかす</li>
                        <hr>
                        <li> こども</li>
                        <hr>
                    </ul>
                </div>
                <div id="grid">
                </div>
            </div>

            <input class="input" style="display: none;" />
            <div class="simple-keyboard"></div>

            <!-- <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script> -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/simple-keyboard-layouts@latest/build/index.min.js"></script> -->
            <!-- <script src="/js/simple-keyboard.js"></script> -->
            <script src="/js/script.js"> </script>