<% layout('layouts/boilerplate') %>
    <h1>単語 </h1>

    <div id="main">
    </div>

    <input class="input" style="display: none;" />
    <div class="simple-keyboard"></div>

    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard-layouts@latest/build/index.min.js"></script>
    <script src="/js/simple-keyboard.js"></script>
    <script src="/js/script.js"> </script>