<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/flash.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/search.css">
    </head>

    <body>
        <%- partial('partials/navbar') %>
            <%- partial('partials/flash') %>
                <div id="main">
                    <div id="searchBar">
                        <input type="text" name="query" placeholder="Enter word" id="queryString">
                        <button id="go">GO
                        </button>
                    </div>
                </div>

                <script src="/js/search.js"></script>