<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/flash.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/kanaChart.css">
    </head>

    <body>
        <%- partial('partials/navbar') %>
            <%- partial('partials/flash') %>
                <div id="main">
                    <div id="grid">
                    </div>
                    <input class="input" id="ime" autofocus />
                    <%- partial('partials/kanaChart_alt') %>
                </div>
                </div>


                <%- partial('partials/wordle') %>
                    <script src="/js/tango.js"> </script>