body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
}

#input {
    border: solid red;
    width: 60%;
}

#definitions {
    border: solid salmon;
    max-height: 400px;
    width: 60%;
    overflow-y: scroll;
}

#input>.input {
    border: red solid;
    padding: 0 0;
    height: 4rem;
}

.Unit {
    display: flex;
    align-items: center;
}

.Unit .wordunit {
    flex-grow: 8;
    overflow: scroll;
    font-size: 150%;
}


.Unit .plus {
    box-sizing: border-box;
    padding: 0 1rem;

    border: red solid;
    font-size: 300%;
    margin: 1rem;
    flex-grow: 2;
}