div.box {
    height: 60px;
    width: 60px;
    border: 2px solid lightgray;
    background-color: white;
    margin: 2px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.row {
    display: flex;
    justify-content: center;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

div.grid div.box.filled {
    background-color: peru;
}

div.box.locked {
    background-color: lightgray;
}


.currentRow>.empty {
    background-color: beige;
}

.currentRow>.empty~.empty {
    background-color: white;
}


#main {
    display: flex;
    justify-content: center;
}

div#main>div {
    width: 400px;
    max-height: 400px;
    margin: 0.5rem;
}

#wordlist {
    border: double;
    /* background-color: rgb(252, 244, 245); */
    text-align: center;
    font-size: 150%;
    overflow-y: scroll;
    font-size: xx-large;
}

#wordlist>ul {
    margin: 4px 0;
    padding: 0;
    list-style-type: none;
}

#wordlist>ul li {
    padding: 1rem 0;
}

#wordlist>ul li:nth-of-type(2n):hover {
    background-color: papayawhip;
}

#wordlist>ul li:nth-of-type(2n+1):hover {
    background-color: rgb(246, 239, 178);
}

#wordlist>ul hr {
    margin: 0 0;
    border: none;
    border-top: 3px solid black;
    overflow: visible;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 700px) {
    #main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}