body {
    margin: 0;
}

h1 {
    text-align: center;
    color: crimson;
    font-size: 300%;
    height: 71px;
    margin: 8px 0;
}

div.box {
    height: 60px;
    width: 60px;
    border: 2px solid lightgray;
    background-color: white;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.row {
    display: flex;
    justify-content: center;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

div.grid div.box.filled {
    background-color: peru;
}

div.box.locked {
    background-color: lightgray;
}


.currentRow>.empty {
    background-color: beige;
}

.currentRow>.empty~.empty {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#main {
    display: flex;
    justify-content: center;
}

div#main>div {
    width: 400px;
    max-height: 400px;
    margin: 0 10px;
}

#wordlist {
    border: double;
    /* background-color: rgb(252, 244, 245); */
    text-align: center;
    font-size: 150%;
    overflow-y: scroll;
}

#wordlist>ul {
    margin: 4px 0;
    padding: 0;
    list-style-type: none;
}

#wordlist>ul>li:nth-of-type(2n) {
    background-color: papayawhip;
}

#wordlist>ul>li:nth-of-type(2n+1) {
    background-color: rgb(246, 239, 178);
}

#wordlist>ul>hr {
    margin: 0 0;
    border: none;
    border-top: 3px dotted crimson;
    overflow: visible;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}