#credentials {
    box-shadow: 0px 0px 1px 5000px rgba(0, 0, 0, 0.4);

    background-color: white;
    display: block;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    position: absolute;
    width: fit-content;
    height: fit-content;

    font-size: large;
    align-items: center;
    border: 4px double red;
    padding: 1rem 2rem 1rem 2rem;
}

#credentials div {
    text-align: center;
}

#credentials form label {
    display: block;
    text-align: left;
}

#credentials form input,
#credentials #authMessage {
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    font-size: medium;
    padding: 4px 2px;
}

#credentials #authMessage {
    background-color: cornsilk;
    word-wrap: break-word;
}