.successFlash {
    background-color: rgb(169, 231, 169);
}

.errorFlash {
    background-color: rgb(251, 196, 196);
}

.alertFlash {
    background-color: cornsilk;
}

.successFlash,
.errorFlash,
.alertFlash {
    padding: 2px 4px;
    margin: 4px;
}

button.hide {
    font-weight: bold;
    color: red;
    background-color: white;
    border: solid red 0.1em;
}

button.hide:hover {
    color: maroon;
    background-color: rgb(255, 243, 245);
    border: solid maroon 0.1em;
}