/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/

.rtable {
    /*!
    // IE needs inline-block to position scrolling shadows otherwise use:
    // display: block;
    // max-width: min-content;
    */
    display: inline-block;
    vertical-align: top;
    max-width: 100%;

    overflow-x: auto;

    white-space: nowrap;

    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    font-size: x-large;
}

.rtable th {
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    background: #f2f0e6;
}

.rtable th,
.rtable td {
    padding: 6px 12px;
    border: 1px solid #d9d7ce;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: #F9F1F0;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: #acfff8;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: #FADCD9;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: #dbfbff;
}

td.dud {
    background-color: white !important;
}

td.Green,
td[data-color="Green"] {
    background-color: #6aaa64 !important;
    color: white !important;
}

td.Yellow,
td[data-color="Yellow"] {
    background-color: #d2bc58 !important;
    color: white !important;
}

td.No,
td[data-color="No"] {
    background-color: gray !important;
    color: white !important;
}

tr.specialRow td:nth-child(odd) {
    background-color: #D0B49F;
}

tr.specialRow td:nth-child(even) {
    border-left: none;
    background-color: #E4D4C8;
}

.fade-text {
    opacity: 0.4;
}

.specialKey {
    background-color: white !important;
    color: red;
}

.pair {
    background-color: rgb(255, 226, 171) !important;
}

.specialChar {
    background-color: rgb(255, 244, 223) !important;
}