#selectListBox {
    box-shadow: 0px 0px 1px 5000px rgba(0, 0, 0, 0.4);

    background-color: white;
    display: block;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    position: absolute;
    width: fit-content;
    height: fit-content;

    font-size: large;
    align-items: center;
    text-align: center;
    border: 0.2rem double red;
    padding: 1rem 2rem 1rem 2rem;
}

#list-select,
#newListName {
    margin: auto 4px;
}

#createList {
    display: none;
}

#chooseList,
#createList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#newListName {
    width: 100px;
}

/* 
#listSelect form label {
    display: block;
    text-align: left;
}

#listSelect form input,
#listSelect #authMessage {
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    font-size: medium;
    padding: 4px 2px;
}

#listSelect #authMessage {
    background-color: cornsilk;
    word-wrap: break-word;
}

#prompt {
    margin: 2rem;
    font-weight: bold;
    color: red;
    text-decoration: underline red;
}

#prompt a:hover {
    color: maroon;
} */