html,
body {
    font-family: 'Noto Serif JP', san-serif;
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 0px;
    max-height: 100vh;
    /* border: blanchedalmond solid; */
    background-color: white;
}

#header {
    align-self: stretch;
    display: flex;
    position: relative;
    justify-content: flex-end;
    border-bottom: red 4px double;
    margin-bottom: 4px;
    font-weight: 400;
}

#header a h1 {
    display: inline-block;
    color: crimson;
    font-size: 300%;
    height: 61px;
    margin: 0;
}

#header a h1#title {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 2px;
}

#header a h1#search,
#header a h1#profile {
    box-sizing: border-box;
    border: red 4px double;
    margin: 2px;
    padding: 0.8rem 1rem 1.2rem 1rem;
    font-size: 150%;
}

#header a h1#title:hover {
    color: rgb(145, 5, 28);
}

#header a h1#profile:hover,
#header a h1#search:hover {
    background-color: cornsilk;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

.menu-content {
    text-align: center;
    display: none;
    position: absolute;
    right: 2px;
    min-width: 60px;
    padding: 2px;
    border: 4px double red;
    z-index: 1;
}

.menu-content hr {
    margin: 2px;
}

.links-hidden {
    background-color: white;
}

.links-hidden:hover {
    background-color: cornsilk;
}

.dropdown-menu:hover .menu-content {
    display: block;
}

.submitButton {
    display: block;
    margin: 4px auto;
    background-color: white;
    color: red;
    transition: all 0.2s;
    font-size: large;
    font-weight: bold;
    border: 0.1rem solid red;
    width: fit-content;
    padding: 0.35em 1.2em;
}

.submitButton:hover {
    background-color: #f5eeee;
    color: maroon;
}

.submitButton:disabled {
    color: silver;
    border: 0.1em solid silver;

}

.submitButton:disabled:hover {
    color: silver;
    border: 0.1em solid silver;
    background-color: white;
}

select {
    margin: 4px auto;
    text-align-last: center;
    padding: 0.5rem 1rem;
    /* width: 200px; */
    background-color: white;
    color: red;
    border-top: 4px red;
    border-bottom: 4px red;
    border-right: 1px solid red;
    border-left: 1px solid red;
    border-style: double solid double solid;
    /* text-decoration: underline; */
    font: inherit;
    -webkit-appearance: none;
}

select:hover {
    background-color: #f5eeee;
    color: maroon;
}

i {
    color: crimson;
}

.prompt {
    margin: 2rem;
    font-weight: bold;
    color: red;
    text-decoration: underline red;
}

.prompt:hover {
    color: maroon;
}