#profileContent {
    display: flex;
    justify-content: center;
}

#profileContent #right,
#profileContent #left {
    display: flex;
    flex-direction: column;
    justify-content: start;
}


#profileContent #right div,
#profileContent #left div {
    background-color: white;

}

#wordbox {
    margin-top: auto;
}

#profileBox,
#wordBox,
#listBox,
table {
    margin: 4px;
    text-align: center;
    border: double 4px red;
    padding: 4px;
    border-collapse: collapse;
}


/* #profileBox h3, */
#profileBox h3,
#profileBox h4 {
    font-weight: 400;
    margin: 2px 0;
}

/* table */
th div {
    display: inline-block;
}

tr {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

th {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* border: double 2px red; */
    padding: 0;
    background-color: rgb(255, 255, 255);
}

td {
    border: double 2px red;
    padding: 10px 20px;
    border-spacing: 0ch;
    font-size: x-large;
}

td {
    text-align: center;
}

td:hover {
    background-color: lavender;
}

td.selectedCell {
    background-color: cornsilk;
}

/* tr:nth-child(even) td {
    background-color: rgb(255, 243, 243);
}

tr:nth-child(odd) td {
    background-color: rgb(255, 230, 230);
} */

@media (max-width: 600px) {
    #profileContent {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}

#buttonBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#buttonBox .submitButton {
    display: inline-block;
}