<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/flash.css">

    </head>

    <body>
        <%- partial('partials/navbar') %>
            <%- partial('partials/flash') %>

                <form action="/register" method="POST">
                    <table>
                        <tr>
                            <td align="right"><label for="username">Username:</label></td>
                            <td align="left"><input type="text" name="username" required /></td>
                        </tr>
                        <tr>
                            <td align="right"><label for="password">Password:</label></td>
                            <td align="left"><input type="password" name="password" required /></td>
                        </tr>
                        <tr>
                            <td align="right"><label for="email">E-mail:</label></td>
                            <td align="left"><input type="email" name="email" required /></td>
                        </tr>
                    </table>
                    <button>Register</button>
                </form>